body {
    margin-top: 29px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(image/fondEcran.jpg);
    overflow: hidden;
}
.container{
    margin-top: 30px;
    display: flex;
    flex-direction: row-reverse;
}

#start-button {
    background: lightslategrey;
    color: white;
    border: none;
    width: 170px;
    height: 39px;
    border-radius: 20px;
    transition: 1s ease-in-out;
}
#start-button:hover {
    scale: 0.9;
}

h3 {
    padding-top: 7px;
    border-top-left-radius: 56px;
    height: 29px;
    padding-right: 10px;
    text-align: end;
    background-color: #ffc5af;
    width: 170px;
    position: absolute;
    margin: 21px -17px 0px 0px;
}

.grid{
    margin-top: 50px;
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(62 62 62);
}
.grid div{
    height: 20px;
    width: 20px;
    
}

.tetromino{
    background-color: blue;
    box-shadow: 1px 0.5px 5px rgb(255 255 255);
}

.mini-grid{
    margin-right: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(36, 36, 36);
}

.mini-grid div{
    height: 20px;
    width: 20px;
}

.en-tete{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.control{
    margin-top: 70px;
    width: 30%;
    height: 30%;
}

main{
    width: 50%;
    display: flex;
    align-items: center;
}
.touch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ef8a64de;
    text-align: center;
}